streamlit==1.46.1
streamlit-option-menu==0.3.6
folium==0.16.0
streamlit-folium==0.20.0
requests
simplekml
shapely==2.1.1
pyproj==3.7.1
pyyaml==6.0.1
azure-storage-blob==12.20.0
geopandas==0.14.4
fiona==1.9.6           # needed by GeoPandas for KML/SHP
